// default typographic settings
$default-font-size: 16px;
$default-body-width: 1600px;
$default-text-color: #666;
$default-input-placeholder-color: #999;
$default-font-family: PingFang SC Hiragino Sans GB Microsoft YaHei;
//默认颜色
$major-color-logo: #c60a1e;
$major-colr-background: #f8f8f8;
$auxiliary-color-fail: #f6402b;
$auxiliary-color-abnormal: #f69d00;
$auxiliary-color-success: #09bb07;
$auxiliary-color-href: #519feb;
$auxiliary-color-hold: #ebfaff;
$text-color-black-major: #222222;
$text-color-black-minor: #404040;
$text-color-gray-major: #737373;
$text-color-gray-minor: #9a9a9a;
$border-color: #dddddd;
$holdBlock-background: #f4f4f4;
$poptips-background: #F7F7F7;
